/* IMPORT GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* Root Color Variables */
:root {
    /* Primary Colors */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hwb(245 16% 12%);
    /* Neutral Colors */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    height: 100vh;
    background-color: var(--pale-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.main-image {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.main-container {
    background-color: white;
    width: 450px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.details-section {
    
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 30px;
    font-weight: 900;
    
}

.paragraph {
    font-family: 'Red Hat Display', sans-serif;
    color: var(--desaturated-blue);
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
}



.price-plan-container {
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--very-pale-blue);
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    gap: 1.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.price-plan-container img {
    padding-left: 20px;
}

.price-plan-container a {
    margin-left: auto;
    padding-right: 20px;
    color: var(--bright-blue);
    font-size: 13px;
    font-weight: 700;
}

.price-plan-container a:hover {
    text-decoration: none;
    opacity: 50%;
}

.annual-plan {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 5px;
}

.price {
    color: var(--desaturated-blue);
}

button {
    background-color: var(--bright-blue);
    color: white;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 15px 0 15px 0;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .5px;
    /* box-shadow: 2px 5px 40px var(--desaturated-blue) ; */
}

button:hover {
    opacity: 50%;
   
}

.cancel {
    font-size: 15px;
    color: var(--desaturated-blue);
    text-decoration: none;
    font-weight: 700;
    margin-top: 10px;
}

.cancel:hover {
    color: black;
}

